<div class="bb">
<div class="div1">
  
  <br>
  <br>
  <h1  class="h1" style="font-size: 30px;"> הצטרף אלינו</h1>
  <br>
  <br>
<form (ngSubmit)="ok()" class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label> הכנס שם פרטי</mat-label>
    <input matInput placeholder="שם פרטי" >
  </mat-form-field>
</form>

  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label> הכנס שם משפחה</mat-label>
      <input matInput placeholder="שם משפחה" >
    </mat-form-field>
  </form>

<form  class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>הכנס מספר טלפון</mat-label>
    <span matPrefix>&nbsp;</span>
    <input type="tel" matInput placeholder=" ">
    <mat-icon matSuffix></mat-icon>
  </mat-form-field>
</form>
<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>הכנס סיסמא</mat-label>
    <span matPrefix> &nbsp;</span>
    <input type="password" matInput placeholder=" ">
    <mat-icon matSuffix></mat-icon>
  </mat-form-field>
</form>
<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>דוא"ל</mat-label>
      <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
             placeholder="Ex. pat@example.com">
      <mat-hint></mat-hint>
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        אנא הכנס כתובת דואר אלקטרוני נכונה   
       </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>
  <button  class="button1">הירשם</button><br><br>
  
</div>
</div>