<div class="d-flex justify-content-evenly m-5">
  <div>
    <address>
      <span class="text-decoration-underline">חברת יהודה פינקו בנין ופיתוח</span><br>
      כתובת: יבנה 5<br>
      מיקוד: 26382<br>
      קרית מוצקין<br>
      מספר טלפון:<a href="tel:04-8704313">04-8704313</a><br>
      פקס:<a href="fax:04-8717360">04-8717360</a><br>
    </address>
    <div class="my-4">
      <button type="button" [routerLink]="['/register']" class="btn btn-primary btn-lg">הרשם</button>
    </div>
  </div>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3352.5045688450246!2d35.07352948513541!3d32.83188968095547!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151db73d36dfbf45%3A0xc527637dff362b62!2z15nXkdeg15QgNSwg16fXqNeZ16og157Xldem16fXmdef!5e0!3m2!1siw!2sil!4v1651843262648!5m2!1siw!2sil"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>