
<!--<div class="page-header">
     <div class="container">
      <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="page-caption"> </div>
     </div>
     </div>
     </div>
</div>
  <div class="card-section">
     <div class="container">
     <div class="card-block bg-white mb30">
     <div class="row">
     <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
     <h2 class="page-title">קצת עלינו</h2>
     <div class="section-title mb-0">
     <h2> </h2>
     <p> </p>
      </div>
      </div>
      </div>
      </div>
      </div>
</div>
-->
               
<div style="text-align:right">
<h2>אודות</h2><p class="p"> 
יהודה פינקו בניין ופיתוח בע"מ החלה את דרכה בתחום הבניה הנמוכה,
עסקה לאורך תקופה ארוכה ביזמות פרויקטים,
ובשנים האחרונות מתמחה גם בבניה ואחזקות לתעשיה.
על כן ברשותינו עומק מקצועי המתפרש על פני קשת רחבה של פרויקטים בכל סדר גודל ורמת מורכבות.
</p>
<h3>בניה למגורים</h3>
יהודה פינקו בנין ופיתוח בע"מ הינה חברה יזמית ותיקה שהובילה פרוןיקטים רבים בכל רחבי הארץ<p>,
וזאת בהיקפים וברמות מורכבות משתנות.
מדובר בפרויקטים המנוהלים על ידינו מאלף ועד תו,
החל מרכישת השטח, דרך הקמת המבנים ועד לשיווק המכירה, מתן אחריות ובדק.
כמו כן, אנו פועלים כקבלן ראשי בפרויקטי בניה רוויה, בניה כפרית, שיקום שכונות ועוד, 
עבור לקוחות ציבוריים, עיסקיים ופרטיים כאחד.
</p>
<h3>בניה ואחזקות לתעשיה</h3>
<p class="p">חברתינו מבצעת מגוון פרויקטי בניה עבור חברות הנמנות על כל מגזרי התעשיה,
החל בהקמת מבנים לתעשיה כבדה
ועד לעבודות שיפוץ והתאמה עדינות בבנייני הייטק 
בנוסף, אנו מתמחים בכל הקשור לאחזקה והנדסה אזרחית עבור לקוחותינו,
כדוגמא תיקון כבישים ותשתיות מורכבות
ואמונים על פיתוח תשתיות בתעשיה כגון עבודות סלילה, עפר ועוד.
</p>
<h3>עומק מקצועי וותק</h3>
<p class="p">עם השנים רכשה חברתינו ניסיון רב ובקיאות מעמיקה במנעד רחב של פרויקטים, 
תוך הקפדה על שיתוף פעולה הדוק עם לקוחותיה זמינות מירבית, ובקרת איכות גבוהה.
זאת, החל בעבודות תעישה כבדה, דרך עבודות עדינות ומורכבות למבני תעשיה והייטק,
וכלה בפרויקטים יחודיים עבור הפקות טלוויזיה.
לכן, ביכולתינו לספק מענה הולם לסוכגים רבים של פרויקטי מגורים ולצורכי בניה ואחזקה בתעשיות.
אנו מזמינים אותכם להצטרף למעגל לקוחותינו,
עליו אנשים פרטיים הבונים את ביתם לצד חברות ציבוריות ועיסקיות מוכרות במשק,
בניהם ישקר, פז, טבע,
חברת מבני תעשיה, עמידר, חברת ההפקות אנדמול ישראל, תשתיות נפט, ועוד. 
</p></div>
<div  class="video">
<video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" style="width: 100%; height: 700px;" class="size" controls (click)="toggleVideo()" #videoPlayer>

		<source  src="assets/projects pinko.mp4" type="video/mp4" />
		Browser not supported
	</video>
</div>