<section>
	<div class="container-fluid">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
				<form>

					<!-- Email input -->
					<div class="form-outline mb-4">
						<input type="email" id="mail" class="form-control form-control-lg"
							placeholder="הכנס כתובת אימייל תקינה" />
						<label class="form-label" for="mail">כתובת אימייל</label>
					</div>

					<!-- Password input -->
					<div class="form-outline mb-3">
						<input type="password" id="pwd" class="form-control form-control-lg" placeholder="הכנס סיסמה" />
						<label class="form-label" for="pwd">סיסמה</label>
					</div>
					<div>
						<a href="#!" class="text-body">שכחת סיסמה?</a>
					</div>

					<div class="text-center text-lg-start mt-4 pt-2">
						<button type="button" class="btn btn-secondary btn-lg"
							style="padding-left: 2.5rem; padding-right: 2.5rem;" (ngSubmit)="login()">כניסה</button>
						<p class="fw-bold mt-2 pt-1 mb-0">אינך רשום עדין? <a href="#!"
								class="link-danger">הרשמה</a></p>
					</div>

				</form>
			</div>
		</div>
	</div>
</section>