<p>management-notices works!</p>
<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label> הכנס שם פרטי</mat-label>
      <input matInput placeholder="שם פרטי" >
    </mat-form-field>
  </form>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>הכנס מספר טלפון</mat-label>
      <span matPrefix>&nbsp;</span>
      <input type="tel" matInput placeholder=" ">
      <mat-icon matSuffix></mat-icon>
    </mat-form-field>
    
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>השאר הודעה</mat-label>
    <textarea matInput placeholder=" "></textarea>
  </mat-form-field>
</form>
  