<div class="d-flex justify-content-center my-5">
  <button class="btn btn-lg font-weight-bolder btn-secondary mx-4 px-5 py-4" [routerLink]="['./projects']">פרויקטים בתהליך</button>
  <button class="btn btn-lg font-weight-bolder btn-secondary mx-4 px-5 py-4" [routerLink]="['./contractors']">קבלנים</button>
  <button class="btn btn-lg font-weight-bolder btn-secondary mx-4 px-5 py-4" [routerLink]="['./suppliers']">ספקים</button>
  <button class="btn btn-lg font-weight-bolder btn-secondary mx-4 px-5 py-4" [routerLink]="['./documents']">מסמכים</button>
</div>