<h1 class="text-center fw-bold h2 my-2">אזור אישי מנהל</h1>
<div class="d-flex justify-content-center my-5">
  <button class="btn mx-4 px-5 py-4" mat-raised-button color="warn" [routerLink]="['./projects']">פרויקטים בתהליך</button>
  <button class="btn mx-4 px-5 py-4" mat-raised-button color="warn" [routerLink]="['./contractors']">קבלנים</button>
  <button class="btn mx-4 px-5 py-4" mat-raised-button color="warn" [routerLink]="['./suppliers']">ספקים</button>
  <button class="btn mx-4 px-5 py-4" mat-raised-button color="warn" [routerLink]="['./documents']">מסמכים</button>
</div>